@import "./components/previewNovel";
@import "./components/form";
@import "./components/burger";
@import "./components/profilVignette";

//clean
body{margin: 0;}            
  
//MeP
@mixin designColor($bg,$bgSecondaire,$text,$textSecondaire){
    &#root {  
        background: $bg ;        
        margin: 0;      
        min-height: 100vw;      
        overflow-x: hidden;  
        overflow-y: auto;    
    }         
    .container {
        background: $bgSecondaire; 
        position: relative; 
        margin:1% 20% 1% 20%; 
        @media screen and (max-width: 600px) { 
            margin:0;
        } 
        border-radius: 1vh;
        padding:2%;  
        min-height: 98vh;
    } 
    * {color:$text}
    @include previewNovel($bg,$bgSecondaire,$text,$textSecondaire);
    @include form($bg,$bgSecondaire,$text,$textSecondaire);
    @include burger($bg,$bgSecondaire,$text,$textSecondaire);
    @include profilVignette($bg,$bgSecondaire,$text,$textSecondaire);
} 
    
//color         
   
//lightTheme 
#themeInput ~ *{ 
    $Lbg : rgb(243, 243, 243);
    $LbgSecondaire : rgb(255, 255, 255); 
    // $Ltext: rgb(2, 2, 2);
    // $LtextSecondaire : rgb(15, 15, 15);
    $Ltext: rgb(39, 55, 131); 
    $LtextSecondaire : rgb( 0, 0, 0);
    @include designColor($Lbg,$LbgSecondaire,$Ltext,$LtextSecondaire);
} 
//darktheme 
#themeInput:checked ~ * { 
    $Dbg : rgb(2, 2, 2);      
    $DbgSecondaire : rgb(15, 15, 15);
    // $Dtext: rgb(236, 236, 236); 
    // $DtextSecondaire : rgb(255, 255, 255);  
    $Dtext: rgb(250, 128, 46); 
    $DtextSecondaire : rgb(255, 255, 255); 
    @include designColor($Dbg,$DbgSecondaire,$Dtext,$DtextSecondaire); 
}       
         
#themeInput, #themeInputdeco{
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    @media screen and (max-width: 600px){bottom: 2em;}
    right: 5px;
    height: 30px; 
    width: 30px;  
    margin:0;   
    padding:0;
    border-radius: 100%;
    z-index: 9;
    background-color: black; 
    &[type = "checkbox"] { 
        z-index: 10;
        opacity: 0;
        &:checked ~ #themeInputdeco{background-color: white;}
    }
} 
// transition Theme
$transitionDuration: 1s;
*{
    transition-duration: $transitionDuration, $transitionDuration, $transitionDuration, $transitionDuration;
    transition-property: color, background-color, background, border-color ;
}


